# Ignore Python bytecode and cache files
__pycache__/
*.py[cod]

# Ignore build artifacts
build/
dist/
*.spec

# Ignore logs
*.log

# Ignore IDE and editor files
.vscode/
.idea/
*.iml

# Ignore system files
.DS_Store
Thumbs.db
